{% include "components\navbar.html" %}

<br>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Lista de archivos FTP</h1>
        <a href="/upload_directory/{{directory}}" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Upload</a>
    </div>
    <table class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th>#</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><i class="fas fa-file"></i> {{ file }}</td>
                <td>
                    
                    <a href="/download_files/{{directory}}/{{file}} " class="btn btn-primary"><i class="fas fa-download"></i> </a>
                    <a href="/delete_files/{{directory}}/{{file}}" class="btn btn-danger"><i class="fas fa-trash"></i> </a>
                    <a href="/rename/{{file}}" class="btn btn-warning"><i class="fas fa-edit"></i> </a>
                    {% comment %} <a href="" class="btn btn-primary">Download</a>
                    <a href="" class="btn btn-danger">Delete</a> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
            {% for directory in directories %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><i class="fas fa-folder"></i> {{ directory }}
                   
                </td>
                <td>
                    <a href="/navigate/{{directory}}" class="btn btn-primary"><i class="fas fa-folder-open"></i> </a>
                    <a href="/delete/{{directory}}" class="btn btn-danger"><i class="fas fa-trash"></i> </a>
                    <a href="/rename/{{directory}}" class="btn btn-warning"><i class="fas fa-edit"></i> </a>
                    {% comment %} <a href="" class="btn btn-primary">Download</a>
                    <a href="" class="btn btn-danger">Delete</a> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/create_directory" class="btn btn-primary">Create Directory</a>
</div>